/* ==================
       Fonts
================== */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');

/* ==================
   General Styles
================== */
:root {
	--cyan: hsl(179, 62%, 43%);
	--light-cyan: hsl(179, 61%, 54%);
	--bright-yellow: hsl(71, 73%, 54%);
	--dark-yellow: hsl(71, 79%, 42%);
	--light-gray: hsl(204, 43%, 93%);
	--grayish-blue: hsl(218, 22%, 67%);
	--white: hsl(0, 100%, 100%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--light-gray);
	font-family: 'Karla', sans-serif;
	font-size: 16px;
	min-height: 100vh;
	width: 100%;
}

.community__container,
.subscription__container,
.why__container {
	padding: 1.5em;
}

/* ==================
     Card Styles
================== */
.card__container {
	margin: 0 auto;
	max-width: 550px;
	padding: 4em 0;
	width: 85%;
}

/* ==================
   Community Styles
================== */
.community__container {
	background-color: var(--white);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.community__title {
	color: var(--cyan);
	margin-bottom: 1em;
}

.community__guarantee {
	color: var(--bright-yellow);
	font-weight: 700;
	margin-bottom: 1em;
}

.community__text {
	color: var(--grayish-blue);
	font-size: 0.975rem;
	font-weight: 700;
	line-height: 1.65;
}

/* ==================
 Subscription Styles
================== */
.subscription__container {
	background-color: var(--cyan);
}

.subscription__title {
	color: var(--white);
	margin-bottom: 1em;
}

.subscription__big__text {
	color: var(--white);
	font-size: 1.75rem;
	font-weight: 700;
	margin-bottom: 0.2em;
}

.subscription__span {
	color: var(--light-gray);
	font-size: 1rem;
	font-weight: 400;
}

.subscription__text {
	color: var(--light-gray);
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.75px;
	margin-bottom: 1.5em;
}

.subscription__btn {
	background-color: var(--bright-yellow);
	border: none;
	border-radius: 5px;
	color: var(--white);
	font-size: 1rem;
	font-weight: 700;
	padding: 1em 2em;
	width: 100%;
	transition: background-color 0.5s ease;
}

.subscription__btn:hover,
.subscription__btn:focus {
	background-color: var(--dark-yellow);
	cursor: pointer;
}

/* ==================
		WhyUs Styles
================== */
.why__container {
	background-color: var(--light-cyan);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.why__title,
.why__list {
	color: var(--light-gray);
}

.why__title {
	font-weight: 700;
	margin-bottom: 1em;
}

.why__list {
	list-style: none;
}
